#scene-fader {
    background-color: #000;
    opacity: 1;
    transition-duration: 0.75s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

#scene-fader.hidden {
    opacity: 0;
}