#patient-record {
    flex-grow: 1;
}

#patient-image {
    background-color: #000;
    flex-grow: 0;
    height: 300px;
    width: 300px;
}

#patient-name {
    font-size: 48px;
    margin: 0;
    padding: 0;
}
